<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Condominium{% endblock %}</title>

        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}

    </head>

    <body class="{% block bodyClass %}{% endblock %}">

        {% block navbar %}
            {% include 'navbar/navbar.html.twig' %}
        {% endblock %}

        <div class="page-wrap">

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% block sidebar %}
                    {% include 'sidebar/sidebar.html.twig' %}
                {% endblock %}
            {% endif %}

            <div class="page-content">
                {% block content %}{% endblock %}
            </div>
        </div>

        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>

</html>
